.lista-suspensa {
    display: flex;
    flex-direction: column;
    margin: 1em 0;
}

.lista-suspensa select {
    border: none;
    padding: 1em;
    box-shadow: 1px 1px 3px 1px #33333332;
}

.lista-suspensa select:focus {
    outline: none;
    box-shadow: 1px 1px 10px var(--azulclaro);
}

.lista-suspensa label {
    font-weight: 700;
    font-size: 0.9em;
    margin-bottom: 0.2em;
}