.colaborador {
    width: 11em;
    position: relative;
}

.colaborador img {
    width: 5.5em;
    border-radius: 50%;
    position: relative;
    bottom: -0.5em;
}

.colaborador-cabecalho {
    border-radius: 0.8em 0.8em 0px 0px;
    height: 3.5em;
}

.colaborador-rodape {
    background: #FFFFFF;
    box-shadow: 2px 2px 5px 1px #33333329;
    border-radius: 0px 0px 0.8em 0.8em;
    padding: 2em 0;
}

.colaborador h3 {
    color: var(--azul);
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 0;
}

.colaborador p {
    font-size: 0.8em;
    margin: 0.1em 0 0 0;
}

.etiqueta {
    font-size: 70%;
    font-weight: 700;
    color: white;
    border-radius: 1em;
    width: 50%;
    padding: 2px;
    margin: 0.5em auto;
}

.icon-fechar {
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -5px;
    top: -5px;
    cursor: pointer;
    transition: 0.2s transform;
    transform-origin: center;
}

.icon-fechar:hover {
    transform: scale(1.3);
    color: rgb(219, 12, 12);
}

.icon-heart {
    position: absolute;
    left: 50%;
    bottom: 1%;
    transform: translate(-50%, -50%);
    cursor: pointer;
    transition: 0.2s transform;
    transform-origin: center;
}

.icon-heart:hover {
    transform: translate(-50%, -50%) scale(1.3);
    color: rgb(219, 12, 12);
}