.colaborador {
    width: 11em;
    position: relative;
}

.colaborador img {
    width: 5.5em;
    border-radius: 50%;
    position: relative;
    bottom: -0.5em;
}

.colaborador .colaborador-cabecalho {
    border-radius: 0.8em 0.8em 0px 0px;
    height: 3.5em;
}

.colaborador .colaborador-rodape {
    background: #FFFFFF;
    box-shadow: 2px 2px 5px 1px #33333329;
    border-radius: 0px 0px 0.8em 0.8em;
    padding: 2.2em 0 1em 0;
}

.colaborador .etiqueta {
    font-size: 70%;
    font-weight: 700;
    color: white;
    border-radius: 1em;
    display: inline-block;
    margin: 0.8em auto 1em auto;
}

.etiqueta .select {
    border: none;
    background-color: transparent;
    color: white;
    font-weight: 700;
    text-align: center;
}

.etiqueta .option {
    color: #333;
}

.colaborador h3 {
    color: var(--azul);
    font-size: 0.9em;
    font-weight: bold;
    margin-bottom: 0;
}

.colaborador p {
    font-size: 0.8em;
    margin: 0.2em 0 0 0;
}

.icon-fechar {
    background-color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: -5px;
    top: -5px;
    cursor: pointer;
    transition: 0.2s transform;
    transform-origin: center;
}

.icon-fechar:hover {
    transform: scale(1.1);
    color: rgb(219, 12, 12);
}

.icones {
    color: var(--azul);
    display: flex;
    justify-content: center;
    gap: 0.4em;
}

.icones .icon-heart {
    color: rgb(219, 12, 12);
    cursor: pointer;
}

.icones .icon-heart:hover {
    transform: scale(1.1);
}

.icones .icon-heart-outline {
    cursor: pointer;
    transition: 0.2s transform;
}

.icones .social-media, .icones .social-media:visited {
    color: var(--azul);
}

.icones .social-media:hover, .icones .icon-heart-outline:hover {
    transform: scale(1.1);
    color: var(--azulclaro);
}