.titulo-setores {
    text-align: center;
}

.titulo-setores h2 {
    color: var(--azul);
    font-family: 'Prata', serif;
    font-weight: 400;
    border-bottom: 4px solid var(--azul);
    display: inline-block;
}