.formulario {
    margin: 1.5em auto;
    width: 40%;
    border: 0px solid #333;
    border-radius: 0.8em;
    padding: 1.5em 2em;
    box-shadow: 1px 1px 5px 3px #33333332;
    background-color: #f6f6f6;
}

.formulario h2 {
    font-size: 1.3em;
    font-family: 'Prata', serif;
    font-weight: 400;
    margin-top: 0;
}

@media screen and (max-width: 1024px) {
    .formulario {
        width: 60%;
    }
}