.setor {
    text-align: center;
    padding-bottom: 1em;
    position: relative;
}

.setor h2 {
    margin-top: 0.7em;
    margin-bottom: 1em;
    border-bottom: 4px solid;
    display: inline-block;
    font-family: 'Prata', serif;
    font-weight: 400;
    font-size: 1.3em;
}

.colaboradores-container {
    display: flex;
    justify-content: center;
    gap: 1em;
    flex-wrap: wrap;
}

.seletor-cor {
    position: absolute;
    right: 1em;
    top: 1em;
    cursor: pointer;
}