@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Prata&display=swap');

:root {
    --azul: #005d85;
    --azulclaro: #0f85b8;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: #333;
    background-color: #e8e8e8;
    margin: 0;
}